body::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */

body {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

@font-face {
	font-family: Louize Display;
	src: url(fonts/Louize\Display\-\Regular-205TF.ttf);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	display: block;
	font-family: Louize Display;
	height: 100vh;
	width: 100%;
	background-color: white;
}

main {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	background-color: white;
}

.header {
	height: 100vh;
	width: 100vw;
	z-index: 10;
	top: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.cross {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 11rem;
	height: 12vh;
	cursor: pointer;
	z-index: 60;
}

.cross-hor {
	position: absolute;
	cursor: pointer;
	top: 50%;
	width: 50px;
	z-index: 20;
	height: 1px;
	background-color: black;
}

.cross-ver {
	cursor: pointer;
	position: absolute;
	left: 50%;
	height: 50px;
	z-index: 20;
	width: 1px;
	background-color: black;
}

.flex {
	display: flex;
	flex-direction: column;
}

.logo {
	position: absolute;
	height: auto;
	width: 90%;
	left: 5%;
	bottom: 0px;
	margin-bottom: 3rem;
	z-index: 10;
}

.big-title {
	font-weight: inherit;
	font-size: 4rem;
	line-height: 1;
}

.textsection {
	padding-left: 2.75rem;
	padding-right: 2.75rem;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	text-align: center;
	z-index: 10;
	-webkit-box-shadow: inset -1px 32px 16px -14px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset -1px 32px 16px -14px rgba(0, 0, 0, 1);
	box-shadow: inset -1px 32px 16px -14px rgba(0, 0, 0, 1);
}

.positioning {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	max-width: 100%;
	z-index: 20;
}

.img {
	position: absolute;
	left: -150px;
	top: -225px;
	display: block;
}

.follow {
	position: absolute;
	transition-timing-function: ease-out;
}

.follow:nth-of-type(1) {
	transition-duration: 0.1s;
	z-index: 36;
}

.follow:nth-of-type(2) {
	transition-duration: 0.2s;
	z-index: 35;
}

.follow:nth-of-type(3) {
	transition-duration: 0.3s;
	z-index: 34;
}

.follow:nth-of-type(4) {
	transition-duration: 0.4s;
	z-index: 33;
}

.follow:nth-of-type(5) {
	transition-duration: 0.5s;
	z-index: 32;
}

.follow:nth-of-type(6) {
	transition-duration: 0.6s;
	z-index: 31;
}

#hacky-input {
	display: none;
}

label.crossRotate {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

#hacky-input:checked + label.crossRotate {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dropdown {
	display: none;
	transform-origin: translate(0px, 0px);
	background-color: transparent;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 0;
	height: 100vh;
	transition: 0.3s;
}

.nav-background {
	display: block;
	position: fixed;
	z-index: 40;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 0px;
	background: linear-gradient(-90deg, rgb(255, 38, 46), rgb(255, 0, 255));
}

.hidden {
	top: 0px;
}

.text {
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-top: 2.5rem;
}

.link {
	font-size: 2.25rem;
	line-height: 2.5rem;
	text-decoration: underline;
	font-style: italic;
	text-transform: lowercase;
	display: block;
	margin-top: 2.5rem;
	color: black;
}

.fixedcross {
	position: fixed;
	z-index: 50;
	right: 0px;
	top: 0px;
}

.divheader {
	min-height: 11rem;
}

.projectsection {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	/* background-color: transparent !important; */
	padding-left: 2.75rem;
	padding-right: 2.75rem;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	margin: 0px;
	background-color: gray;
}

.projectlinkgrid {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	width: 100%;
}

.projectlinkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	z-index: 60;
	position: relative;
}

.projectlink {
	color: white;
	align-items: center;
	flex-direction: column;
	display: flex;
	text-decoration: none;
	background-color: transparent;
	top: 0%;
	position: relative;
}

.projectlink:after {
	content: "";
	position: absolute;
	bottom: 0px;
	transition: color background-color 0.2s ease-in;
}

.projectlink:hover {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 100px;
	top: 100%;
}

.projecttitle {
	margin-bottom: 0.5rem;
	line-height: 1;
	font-size: 5rem;
	text-align: center;
	position: relaitve;
	text-transform: uppercase;
	padding-top: 1.5rem;
}

.projectname {
	font-size: 3rem;
	line-height: 1;
	text-transform: uppercase;
	margin: auto;
	position: relative;
	text-align: center;
	padding-bottom: 1.5rem;
}

.footersection {
	padding-left: 2.75rem;
	padding-right: 2.75rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	text-align: center;
	z-index: 10;
	overflow: hidden;
	flex-direction: column;
	position: relative;
}

.italictitle {
	font-size: 4rem;
	line-height: 1;
	font-style: italic;
	text-transform: uppercase;
	margin-top: 2.5rem;
}

.mailcontact {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 350px;
}

.projectlinkbox:nth-child(1):hover {
	background-color: red;
	display: block;
	overflow: visible;
	height: 600px;
	z-index: -1;
}

.navlogo {
	position: absolute;
	top: -250px;
	left: 0px;
	right: 0px;
	width: 92%;
	height: auto;
	display: block;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.navcontent {
	width: 100%;
	padding: 2rem;
	display: block;
	overflow: auto;
	top: 350px;
	height: 75%;
	position: absolute;
	overflow: hidden;
}

.inbox {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.box-1 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 33.33333%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.box1-textbox1 {
	height: 50%;
}

.box1-text1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.adress {
	height: 50%;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.box1-text2 {
	text-decoration: none;
	color: black;
}

.box-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 50%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.box2-textbox1 {
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;
}

.box2-text1 {
	font-size: 10rem;
	line-height: 1;
}

.box2-a {
	text-decoration: none;
	color: black;
	position: relative;
}

.box2-a:hover {
	cursor: pointer;
	font-style: italic;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: black;
	text-decoration-thickness: from-font;
	/* border-bottom: 5px solid black; */
}

.box-3 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 16.666667%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.switchbutton {
	background-color: transparent;
	border: none;
	font-family: louiz;
}

.langswitch {
	text-decoration: none;
	color: black;
}
